.flipped {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        margin-left: 210px;
}

body {
	margin: 	auto;
	height: 	100%;
	width: 		1000px;
}

.wrapper {
}

.infoContainer {
 width: 1000px;
 margin: 0px;
}

.info {
 width: 300px;
 float: right;
 position: relative;
}

#legende {
  font-size: small;
}

header {
	position: relative;
	height: 100px;
}

.header {
		display: -webkit-flex;
    display: flex;
		vertical-align: middle;
}

footer {
		width: 100%;
		bottom:0;
		text-align: center;
}

h1 {
	font-size: 250%;
	margin: 10px 0 10px 0px;
}

svg {
	visisbility: visible;
}

div.bubblechart {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color:white;
}


.bubblechart rect {
  fill: steelblue;
}

.bubblechart text {
	fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
	fill: black;
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3-tip {
  position: relative;
  float: left;
  top: 0;
  line-height: 1;
  font-weight: bold;
  padding: 5px;
  border-radius: 2px;
  background: lightgrey;
  border-color: black;
}

.teambubble:hover {
  fill: orange;
}

#yearSlider {
    text-align: center;
  vertical-align: middle;
}

.scrollable {
    overflow-y: scroll;
    overflow: hidden;
    height: 100%;
    padding-bottom: 80px;
}

#bubbleheader {
    /* position: relative; */
    width: 760px;
    top: 0;
    float: left;
    background: lightgrey;
    height: 200px;
}

#bubbleheader.stick {
    position:fixed;
}

.headerblocker {
    height: 200px;
    background: white;
    /* z-index: 10; */
}

#timelinefooter {
    position: fixed;
    height: 80px;
    width: 1000px;
    bottom: 0;
    background: lightgrey;
    z-index: 10;
}

/* Styling the slider */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 80%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 80%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.circleTeam {
    stroke: #000;
    fill: #fff;
    /*shape-rendering: crispEdges;*/
}

.arrowIn {
    stroke-linecap: butt;
    stroke: green;
    fill: green;
    shape-rendering: crispEdges;
}

.arrowOut {
    stroke-linecap: butt;
    stroke: red;
    fill: red;
    shape-rendering: crispEdges;
}

.arrowStayedUp {
    stroke-linecap: butt;
    stroke: green;
    fill: green;
}
.arrowStayedDown {
    stroke-linecap: butt;
    stroke: red;
    fill: red;
}



#minibubbles {
    margin: 0 0 0 0px;
    width: 300px;
    height: 200px;
    overflow: hidden;
    float: right;
    top: 0;
}

#minibubbles.stick {
    position:fixed;
    top: 0px;
    right: 0px;
}

#teamvis {
    background: lightgrey;
    width: 1000px;
    position: relative;
}

#teamvis.stick {
    position:fixed;
    bottom: 80px;
    z-index: 100;
}

.smallmultiple .line {
    fill: none;
}

.smallmultiple .area {
    stroke: none;
}

.curYearLine {
    fill: none;
    stroke: blue;
}

.smallm_g {
    pointer-events: all;
}

.posname {}

.selectedbubble {
    fill: yellow;
}

#fieldvis {
    float: right;
    position: relative;
    width: 80%;
}
#zoomvis {
    float: right;
    position: relative;
    width: 80%;
}

.stick {
    z-index: 10;
}

#varchoosesidebar {
  float: left;
  width: 20%;
  position: relative;
  background: lightgrey;
  height: 100%;
}

#varchoosesidebar.stick {
  position: fixed;
  top: 200px;
  width: 200px;
}

#varchoosesidebar form ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


ul li{
  color: #302505;
  display: block;
  position: relative;
  float: left;
  width: 80%;
  background: #b3b3b3;
  margin: 0 10% 0 10%;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 20px 25px 10px;
  height: 18px;
  cursor: pointer;
}

ul li:hover label{
	color: #FFFFFF;
}

ul li .check{
  display: none;
}

input[type=radio]:checked ~ label{
  color: white;
  background: #993333;
}

#bubbleheader table {
    width: 100%;
    margin: 0;
}

#bubbleheader table td {
    width: 50%;
    height: 20px;
}

#bubbleheader table h2 {
    margin: 0;
}

#bubbleheader table p {
    margin: 0;
    padding: 0;
}
