.flipped {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        margin-left: 210px;
}

body {
	margin: 	auto;
	height: 	100%;
	width: 		1000px;
  color: #FDF3E7;
  font-family:Roboto;
  font-weight: 200;
}

.wrapper {
}

.infoContainer {
 width: 1000px;
 margin: 0px;
}

.info {
 width: 300px;
 float: right;
 position: relative;
}

.info svg {
  margin-top: 30px;
  color: #FDF3E7;
}

#legende {
  font-size: small;
}

header {
	position: relative;
	height: 100px;

}

.header {
		display: -webkit-flex;
    display: flex;
		vertical-align: middle;
}

footer {
		width: 100%;
		bottom:0;
		text-align: center;
}

h1 {
	font-size: 250%;
	margin: 10px 10px 10px 10px;
  color: #FFB347;
}

svg {
	visisbility: visible;
}

div.bubblechart {
  font: 10px sans-serif;
  
  text-align: right;
  padding: 3px;
  margin: 1px;
}


.bubblechart rect {
}

.bubblechart text {
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
	fill: black;
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3-tip {
  position: relative;
  /* float: left; */
  top: 0;
  line-height: 1;
  /*font-weight: bold;*/
  padding: 8px;
  width: 160px;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 2px;
  background: #3B3738;
  z-index: 10000;
  color: #FDF3E7;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}


.teambubble {
    cursor: pointer;
}

.teambubble:hover {
  fill: orange;
}

#yearSlider {
    text-align: center; 
    vertical-align: center;
    color: #C63D0F;
    font-weight: bold;
    margin-top: -10px;
}

.scrollable {
    overflow-y: scroll;
    overflow: hidden;
    height: 100%;
    padding-bottom: 80px;
}

#bubbleheader {
    /* position: relative; */
    width: 760px;
    top: 0;
    float: left;
    background: #C63D0F;
    height: 200px;
}

#bubbleheader.stick {
    position:fixed;
    margin-left: 10px;
}

.headerblocker {
    height: 205px;
    /* z-index: 10; */
}

#timelinefooter {
    position: fixed;
    height: 60px;
    width: 1000px;
    bottom: 0;
    /* background: lightgrey; */
    z-index: 10;
}

/* Styling the slider */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 990px; /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 24px;
    width: 16px;
    border-radius: 50%;
    background: #C63D0F;
    margin-top: -4px;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 8px;
  border-radius: 3px;
  background: #C63D0F;
  cursor: pointer;
  margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 8px;
  border-radius: 3px;
  background: #C63D0F;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 8px;
  border-radius: 3px;
  background: #C63D0F;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: 3px;
  cursor: pointer;
  background: #C63D0F;
  border-radius: 1.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #C63D0F;
}

input[type=range]::-moz-range-track {
  width: 80%;
  height: 8.4px;
  cursor: pointer;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 80%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #C63D0F;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #C63D0F;
}
input[type=range]::-ms-fill-upper {
  background: #C63D0F;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #C63D0F;
}

.circleTeam {
    stroke: #000;
    /*shape-rendering: crispEdges;*/
}

.arrowIn {
    stroke-linecap: butt;
    stroke: #03C03C;
    fill: #03C03C;
    shape-rendering: crispEdges;
}

.arrowOut {
    stroke-linecap: butt;
    stroke: #C23B22;
    fill: #C23B22;
    shape-rendering: crispEdges;
}

.arrowStayedUp {
    stroke-linecap: butt;
    stroke: #03C03C;
    fill: #03C03C;
}
.arrowStayedDown {
    stroke-linecap: butt;
    stroke: #C23B22;
    fill: #C23B22;
}



#minibubbles {
    margin: 0 0 0 0px;
    width: 300px;
    height: 200px;
    overflow: hidden;
    float: right;
    top: 0;
}

#minibubbles.stick {
    position:fixed;
    top: 0px;
    right: 0px;
}

#teamvis {
    width: 1000px;
    position: relative;
}

#teamvis.stick {
    position:fixed;
    bottom: 50px;
    z-index: 100;
}

.smallmultiple .line {
    fill: none;
}

.smallmultiple .area {
    stroke: none;
}

.curYearLine {
    fill: none;
    stroke: blue;
}

.smallm_g {
    pointer-events: all;
}

.posname {}

.selectedbubble {
    fill: yellow;
}

#fieldvis {
    float: right;
    position: relative;
    width: 80%;
}
#zoomvis {
    float: right;
    position: relative;
    width: 80%;
}

.stick {
    z-index: 10;
}

#varchoosesidebar {
  float: left;
  position: relative;
}

#varchoosesidebar.stick {
  position: fixed;
  top: 200px;
  width: 170px;
}

#sidebar {
    float: left;
    position: relative;
    width: 170px;
    height: 600px
    margin-left: 10px;
    background-color: #C63D0F;
}

#sidebar.stick {
    height: 512px;
    position: fixed;
    margin-left: 10px;
    width: 170px;
    top: 200px;
}

#playerinfo {
    float: left;
    position: relative;
    border-radius: 25px;
    background: #C63D0F;

}

#playerinfo.stick {
    position:fixed;
    width: 150px;
    bottom: 300px;
    padding: 0px 0px 0px 20px;
}

#playerinfo.stick h2 {
    color: #FFB347;
}

#varchoosesidebar form ul{
  list-style: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

#playervarform ul li{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin: 0 0 0 0;
  text-align: center;
}

#playervarform ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

#playervarform ul li label{
  display: block;
  position: relative;
  font-size: 15px;
  padding: 15px 20px 15px 10px;
  height: 18px;
  cursor: pointer;
  font-weight: bold;
}

#playervarform ul li:hover label{
  color: #FFB347;
}

#playervarform ul li .check{
  display: none;
}


#playervarform input[type=radio]:checked ~ label{
  color: #C63D0F;
  background: #FDF3E7;
}

#bubbleheader table {
    width: 100%;
    margin-left: 10px;
}

#bubbleheader table td {
    width: 50%;
    height: 20px;
}

#bubbleheader table h2 {
    margin: 0 0 0 10px;
}

#bubbleheader table p {
    margin: 0;
    padding: 0;
}

.smallmultiple {
    cursor: pointer;
}

.shirt {
    cursor: default;
}

#legende {
    height: 200px;
    background: #C63D0F;
}

#playerinfo p {
    margin: 5px 0 5px 0;
}

/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px); 
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}


.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}

/* Bottomleft */
.tooltip-bottomleft:before,
.tooltip-bottomleft:after {
  top: 100%;
  bottom: auto;
  left: 5%;
}

.tooltip-bottomleft:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottomleft:hover:before,
.tooltip-bottomleft:hover:after,
.tooltip-bottomleft:focus:before,
.tooltip-bottomleft:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}

.sidebarLabel .sidebarLabelTooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #C63D0F;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 100%;
}

.sidebarLabel:hover .sidebarLabelTooltip {
    visibility: visible;
    cursor: default;
}


.about {
    top: 0;
    margin-right: 10px;
    float: right;
    z-index: 1000000;
}

.about a {
    color: black;
    font-size: 16pt;
    text-decoration: none;
}

.headerblocker h1 {
    width: 600px;
    float: left;
    margin-left: 10px;
}
